{% extends "base.html.twig" %}

    {% block head %}
        {{ parent() }}

        <title>{% block title %}Post{% endblock title %}</title>


        {% block stylesheets %}
            {{ parent() }}
        {% endblock stylesheets %}

        <style>
            body {
                padding-top: 80px;
            }


        </style>
    {% endblock head %}


{% block body %}
    <body>
    <div class="container">

        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
        <!-- /.row -->


    {% for key in viewUserDets %}

        {% if (searchkey == key.getPostid) %}
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-8">
                <img class="img-responsive" src="{{ key.getImagePath()}}" alt="">
            </div>

            <div class="col-md-4">
                <h3>{{ key.getPosttitle()}}</h3>
                <h4>Price : ${{ key.getPrice }}</h4>
                <p>Desription : {{  key.getDescription }}</p>
            </div>
        </div>

        {% endif %}

    {% endfor %}

    </div>
    </body>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}