{% extends template %}

    {% block head %}
        {{ parent() }}

        <title>{% block title %}Post{% endblock title %}</title>


        <style>
            body {
                padding-top: 80px;
            }

            .title {
                margin-top: 50px;
                margin-bottom: -80px;
            }

            .list_container{
                margin-top: 20px;
                margin-left: 80px;
                margin-right: 80px;

            }

            .title {
                margin-top: 50px;
                margin-bottom: -80px;

            }

            body {
                padding-top: 30px;
            }

            .message_button{
                margin-left: 10px;
            }


            #custom-search-input .search-query {
                padding-right: 3px;
                padding-right: 4px \9;
                padding-left: 3px;
                padding-left: 4px \9;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */

                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
            }

            #custom-search-input button {
                border: 0;
                background: none;
                /** belows styles are working good */
                padding: 2px 5px;
                margin-top: 2px;
                position: relative;
                left: -28px;
                /* IE7-8 doesn't have border-radius, so don't indent the padding */
                margin-bottom: 0;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border-radius: 3px;
                color: rgba(7, 2, 4, 0.49);
            }

            .search-query:focus + button {
                z-index: 3;
            }


            .btn-group .button {
                background-color: #FFFFFF; /* Green */
                border: 1px solid white;
                color: black;
                padding: 20px 27px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                width: 300px;
                display: block;


            }

            .btn-group .button1 {
                background-color: #FFFFFF; /* Green */
                border: 1px solid white;
                color: black;
                padding: 20px 27px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                width: 300px;
                display: block;


            }

            .btn-group .button2 {
                background-color: #FFFFFF;
                border: 1px solid white;
                color: black;
                padding: 20px 27px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                width: 300px;
                display: block;
            }

            .btn-group .button3 {
                background-color: #FFFFFF;
                border: 1px solid white;
                color: black;
                padding: 20px 27px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor: pointer;
                width: 300px;
                display: block;
            }
            .btn-group .button:not(:last-child) {
                border-bottom: none; /* Prevent double borders */
            }

            .stylish-input-group .input-group-addon{
                background: white !important;
            }
            .stylish-input-group .form-control{
                border-right:0;
                box-shadow:0 0 0;
                border-color:#ccc;
            }
            .stylish-input-group button{
                border:0;
                background:transparent;
            }


            @import "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700";

            .mb20 {
                margin-top: 20px;
                margin-bottom: 20px;
            }

            hgroup {
                padding-left: 15px;
                border-bottom: 1px solid #ccc;
            }

            hgroup h1 {
                font: 500 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
                color: #2a3644;
                margin-top: 0;
                line-height: 1.15;
            }

            hgroup h2.lead {
                font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
                color: #2a3644;
                margin: 0;
                padding-bottom: 10px;
            }

            .search-result .thumbnail {
                border-radius: 0 !important;
            }

            .search-result:first-child {
                margin-top: 0 !important;
            }

            .search-result {
                margin-top: 20px;
            }

            .search-result .col-md-2 {
                border-right: 1px dotted #ccc;
                min-height: 140px;
            }

            .search-result ul {
                padding-left: 0 !important;
                list-style: none;
            }

            .search-result ul li {
                font: 400 normal .85em "Roboto", Arial, Verdana, sans-serif;
                line-height: 30px;
            }

            .search-result ul li i {
                padding-right: 5px;
            }

            .search-result .col-md-7 {
                position: relative;
            }

            .search-result h3 {
                font: 500 normal 1.375em "Roboto", Arial, Verdana, sans-serif;
                margin-top: 0 !important;
                margin-bottom: 10px !important;
            }

            .search-result h3 > a, .search-result i {
                color: #248dc1 !important;
            }

            .search-result p {
                font: normal normal 1.125em "Roboto", Arial, Verdana, sans-serif;
            }

            .list_container {
                padding-left: 90px;
                padding-right: 90px;
            }

            /*SEARCH BAR*/

            .stylish-input-group .input-group-addon {
                background: white !important;
            }

            .stylish-input-group .form-control {
                border-right: 0;
                box-shadow: 0 0 0;
                border-color: #ccc;
            }

            .stylish-input-group button {
                border: 0;
                background: transparent;
            }

            #search_placement {
                margin-top: -100px;
            }

            .lead{
                padding-left: 1.5%;
            }

            .message_button{
                margin-top:10%;
            }

        </style>
    {% endblock head %}


{% block body %}

    <h1 class="title" align="center">GatorTraders</h1>
    {{ include('gatortraders/search.html.twig') }}
    <hr>
    <br>

    <body>

    <div class="list_container">

        <div class="row">
            <div class="col-lg-12">

            </div>
        </div>
        <!-- /.row -->


    {% for key in viewUserDets %}

        {% if (searchkey == key.getPostid) %}
        <!-- Portfolio Item Row -->
        <div class="row">

            <div class="col-md-6">

                <img class="img-responsive" height="360" width="360" src="{{ key.getImagePath()}}" alt="">
            </div>

            <div class="col-md-3">
                <h3>{{ key.getPosttitle()}}</h3>
                <h4>Price : ${{ key.getPrice }}</h4>
                <p>Description : {{  key.getDescription }}</p>
            </div>

            <div class="col-md-2">
                <form action=message method="GET">
                    <button type="submit" class="btn btn-warning message_button" name="postId" value={{ key.getPostId }}>
                        Message seller
                    </button>
                </form>
            </div>
        </div>


        {% endif %}
    {% endfor %}



    </div>
    </body>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}

{% endblock javascripts %}
