
{%  extends 'base.html.twig' %}

{%  block body %}
    <br/>
    <div class='container'>

    <h1>Registration</h1>
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
        {{ form_row(form._studentEmail) }}
        {{ form_errors(form._studentEmail) }}
        {{ form_row(form._password.first) }}
        {{ form_row(form._password.second) }}
        {{ form_row(form._firstName) }}
        {{ form_row(form._lastName) }}

        <button type="submit" class="btn btn-success">Register <span class="fa fa-lock"></span></button>
        <br/>
        <a href="{{ path('post') }}">Already have an account? Log in.</a>
    {{ form_end(form) }}

{% endblock %}