{% extends 'base.html.twig' %}
{% block title %}Results{% endblock %}

{% block body %}
    <h1>Results: </h1>

    {{ include('gatortraders/search.html.twig') }}

    {% for key in viewUserDets %}

        <div>

            {% if (searchkey == key.getItemid) %}
            {{ key.getItemid }}
            {{ key.getItemname }}
            {{ key.getItemprice }}
            {{ key.getItemdescription }}
            {{ key.getImageid }}
            {{ key.getStudentid }}
            {{ key.getItemsold }}
            {% endif %}

        </div>

    {% endfor %}
{% endblock %}